<h1>SCOREBOARD</h1>
<mat-accordion>
    <mat-expansion-panel *ngFor="let score of scoreboard$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>{{score.player}}</mat-panel-title>
            <mat-panel-description>Total Score: {{score.total}}</mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="score.scores">

            <ng-container matColumnDef="hole">
                <th mat-header-cell *matHeaderCellDef> Hole </th>
                <td mat-cell *matCellDef="let entry"> {{entry.hole}} </td>
            </ng-container>

            <ng-container matColumnDef="throws">
                <th mat-header-cell *matHeaderCellDef> Throws </th>
                <td mat-cell *matCellDef="let entry"> {{entry.score}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

        </table>
    </mat-expansion-panel>
</mat-accordion>
