<div class="main-container">
  <div>
    <h1>Welcome to the BYU disc golf course!</h1>
  </div>
  <div>
    <div>
      <h2>Enter your name to host or join a group game:</h2>
    </div>
    <div>
      <input matInput placeholder="Your Name" />
    </div>
  </div>
  <div>
    <div>
      <h2>Join a group game by entering the group code here:</h2>
    </div>
    <div>
      <input matInput placeholder="4-Digit Group Code" />
    </div>
  </div>
  <div>
    <a
      class="start-button"
      mat-raised-button
      color="accent"
      routerLink="/hole/1"
    >
      START A GAME
    </a>
  </div>
</div>
