:host {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-container {
  padding: 10%;
}

.start-button {
--button-text-size: 16px
  line-height: calc(var(--button-text-size) * 3);
  font-size: var(--button-text-size);
  margin-top: 20px;
  background-color: #3F51B5;
}

.group-button {
  margin-top: 10px;
  cursor: pointer;
}

.img-header{
  width: 100%;
  height: auto;
}

.input {
  height: 45px;
  background-color: aliceblue;
}