<div class="main-container">
  <div>
    <h1>Welcome to the BYU disc golf course!</h1>
  </div>
  <div>
    <div>
      <h2>Enter your name to host or join a group game:</h2>
    </div>
    <div>
      <input class="input" #name matInput placeholder="Your Name" />
    </div>
  </div>
  <div>
    <div>
      <h2>Join a group game by entering the group code here:</h2>
    </div>
    <div>
      <input matInput #code placeholder="4-Digit Group Code" />
    </div>
  </div>
  <div>
    <button
      class="start-button"
      mat-raised-button
      color="accent"
      (click)="startGame(name.value, code.value)"
    >
      START A GAME
    </button>
  </div>
</div>
