<!-- TODO: Make better header bar -->
<div *ngIf="hole$ | async as hole">
  <mat-card>
    <!-- TODO: Add total score -->
    <h2>Hole {{ hole.holeId }} • Par {{ hole.par }} • Total Score </h2>
  </mat-card>

  <mat-card>
    <app-hole-details [hole]="hole"></app-hole-details>
  </mat-card>

<!-- TODO: Inputted score should link to backend -->
  <mat-card>
  <mat-form-field appearance="fill">
    <mat-label>ENTER THROWS</mat-label>
    <input #scoreInput matInput type="number">
  </mat-form-field>
    <button mat-raised-button color="primary" (click)="submitScore(+scoreInput.value); scoreInput.value = ''">Submit Score</button>
  </mat-card>

  <mat-card>
  <a
    [disabled]="first$ | async"
    mat-raised-button
    color="primary"
    style="margin-right: 10px"
    [routerLink]="(first$ | async) ? null : ['/hole', +hole.holeId - 1]"
  >
    PREVIOUS HOLE
  </a>
  <a
    [disabled]="last$ | async"
    mat-raised-button
    color="primary"
    [routerLink]="(last$ | async) ? null : ['/hole', +hole.holeId + 1]"
  >
    NEXT HOLE
  </a>
  </mat-card>

<!-- TODO: Get actual group code -->
  <mat-card>
    <div class="wrap">
    <p><b>GROUP CODE: {{groupService.groupCode$ | async }}</b></p>
    <a mat-raised-button color="primary" style="margin-right: 10px" routerLink="/scores">SCOREBOARD</a>
  </div>
  </mat-card>

  <google-map [options]="mapOptions" [width]="width" #holeMap [center]="center" *ngIf="markers$ | async">
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers$ | async"
      [position]="marker.position"
      [options]="{icon: marker.icon}"
      (mapClick)="openInfoWindow(markerElem, marker.info)">
    </map-marker>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>

</div>
