<!-- TODO: Make better header bar -->
<div *ngIf="hole$ | async as hole">
  <mat-card>
    <h1>Hole {{ hole.holeId }}</h1>
  </mat-card>

  <google-map
    [options]="mapOptions"
    [center]="{ lat: hole.startLat, lng: hole.startLng }"
    [width]="width"
  >
    <map-marker
      [position]="{ lat: hole.startLat, lng: hole.startLng }"
    ></map-marker>
    <map-marker
      [position]="{ lat: hole.endLat, lng: hole.endLng }"
    ></map-marker>
  </google-map>

  <mat-card>
    <app-hole-details [hole]="hole"></app-hole-details>
  </mat-card>

  <mat-list>
  <mat-list-item><a
    [disabled]="last$ | async"
    mat-raised-button
    color="accent"
    [routerLink]="(last$ | async) ? null : ['/hole', +hole.holeId + 1]"
  >
    GO TO NEXT GOAL
  </a></mat-list-item>
  <mat-list-item><a
    [disabled]="first$ | async"
    mat-raised-button
    color="accent"
    style="margin-right: 10px"
    [routerLink]="(first$ | async) ? null : ['/hole', +hole.holeId - 1]"
  >
    GO TO PREVIOUS GOAL
  </a></mat-list-item>
  </mat-list>
</div>
