<!--
   TODO: get list of all holes and display them here.
  make the links to the "hole/:id" route where the hole info component will display details about the hole
-->
<h1>Holes</h1>
<p>
   TODO: get list of all holes from server and display them here.
</p>
<p>
  make them links to the "hole/:id" route where the hole info component will display details about the hole
</p>

<h3>Example</h3>
<mat-nav-list>
  <a mat-list-item routerLink="/hole/1">Hole 1</a>
  <a mat-list-item routerLink="/hole/2">Hole 2</a>
  <a mat-list-item routerLink="/hole/3">Hole 3</a>
  <a mat-list-item routerLink="/hole/4">Hole 4</a>
</mat-nav-list>
